<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regiones</title>
    {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %}

    {# Archivos #}
    {% load static %} <!-- STATIC_URL -->
    {% load widget_tweaks %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://nubecolectiva.com/favicon.ico"/>

    <meta name="theme-color" content="#000000"/>

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/juan-castrillon-a2092a84/">Mi perfil</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<script type="text/javascript">

    function isMobile(){
        return (
            (navigator.userAgent.match(/Android/i)) ||
            (navigator.userAgent.match(/webOS/i)) ||
            (navigator.userAgent.match(/iPhone/i)) ||
            (navigator.userAgent.match(/iPod/i)) ||
            (navigator.userAgent.match(/iPad/i)) ||
            (navigator.userAgent.match(/BlackBerry/i))
        );
    }

    if(!isMobile()){
        $(window).on('load',function(){
            $('#exampleModal').modal('show');
        });
    }

</script>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Para tener en cuenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Cuando estes en el campo "Municipios" asegurate de presionar la tecla CTRL y dar click en el o los
                municipios que
                desees asociar a la Región que estas editando
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Lo entiendo!</button>
            </div>
        </div>
    </div>
</div>

<main role="main">

    <div class="container text-center mt-5">

        <div class="row mb-4">
            <div class="col-md-12">
                <h1 style="font-size: 28px;">Prueba Técnica </h1>
            </div>
        </div>

        <div class="row mb-5">

            <div class="card col-md-2">
                <h6 class="mt-4"><strong>Menú</strong></h6>
                <ul class="list-group list-group-flush">
                    <a href="{% url 'convertor' %}">
                        <li class="list-group-item">Convertor</li>
                    </a>
                    <a href="{% url 'leerRegion' %}">
                        <li class="list-group-item active">Regiones</li>
                    </a>
                    <a href="{% url 'leerMunicipio' %}">
                        <li class="list-group-item">Municipios</li>
                    </a>
                </ul>
            </div>

            <div class="col-md-10">

                <div class="table-responsive">

                    <nav aria-label="breadcrumb mb-3">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../">Regiones</a></li>
                            <li class="breadcrumb-item"><a href="#">Editar</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{object.nombre}}</a></li>
                        </ol>
                    </nav>

                    <div class="formulario" align="left">

                        <h4>Actualizar</h4>


                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <!--{{ form.as_p }}-->
                            <div class="form-group">
                                <label for="codigo" class="txt_negrita">Código</label>
                                {{ form.codigo|add_class:"form-control" }}
                                <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
                            </div>
                            <div class="form-group">
                                <label for="nombre" class="txt_negrita">Nombre</label>
                                {{ form.nombre|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <label for="municipios" class="txt_negrita">Municipios</label>
                                {{ form.municipios|add_class:"form-control" }}
                            </div>

                            <button type="submit" class="btn btn-primary">Aceptar</button>
                            <a href="../" type="submit" class="btn btn-primary">Volver</a>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</main>

{# JS y jQuery Bootstrap #}
{% bootstrap_javascript jquery='full' %}
</body>
</html>