<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %}

    {# Archivos #}
    {% load static %} <!-- STATIC_URL -->
    {% load widget_tweaks %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="theme-color" content="#000000"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">

    <title>Conversión de columnas</title>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/juan-castrillon-a2092a84/">Mi perfil</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<main role="main">

    <div class="container text-center mt-5">

        <div class="row mb-4">
            <div class="col-md-12">
                <h1 style="font-size: 28px;">Prueba Técnica </h1>
            </div>
        </div>

        <div class="row mb-5">

            <div class="card col-md-2">
                <h6 class="mt-4"><strong>Menú</strong></h6>
                <ul class="list-group list-group-flush">
                    <a href="{% url 'convertor' %}">
                        <li class="list-group-item active">Convertor</li>
                    </a>
                    <a href="{% url 'leerRegion' %}">
                        <li class="list-group-item">Regiones</li>
                    </a>
                    <a href="{% url 'leerMunicipio' %}">
                        <li class="list-group-item">Municipios</li>
                    </a>
                </ul>
            </div>

            <div class="col-md-10">

                <div class="table-responsive">

                    <div class="formulario" align="left">
                        <h4>Conversión de número de fila a letras (Se tiene en cuenta la Ñ) </h4>

                        </BR>

                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% endif %}

                        <form action="./" method="post">
                            {% csrf_token %}
                            {{ form.numero.label_tag }}
                            {{ form.numero|add_class:"form-control" }}
                            <br>
                            <input type="submit" value="Convertir!" class="btn btn-success">
                        </form>
                        </BR>
                        </BR>

                        <label for="municipios" class="txt_negrita">La letra es: {{letra}} </label>

                        </BR>
                        </BR>

                    </div>

                </div>

            </div>

        </div>
    </div>

</main>

</body>
</html>
