<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %}

    {# Archivos #}
    {% load static %} <!-- STATIC_URL -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://nubecolectiva.com/favicon.ico"/>

    <meta name="theme-color" content="#000000"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">

    <title></title>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/juan-castrillon-a2092a84/">Mi perfil</a>
                    </li>
                </ul>

                <form name="bencc" method="get" action="http://www.google.com/search" id="bencc"
                      class="form-inline mt-2 mt-md-0" target="_blank">
                    <input type="hidden" name="domains" value="blog.nubecolectiva.com">
                    <input type="hidden" name="sitesearch" value="blog.nubecolectiva.com">
                    <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." aria-label="Buscar...">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                            onclick="document.getElementById('bencc').submit()">Buscar
                    </button>
                </form>
            </div>
        </div>
    </nav>
</header>


<main role="main">

    <div class="container text-center mt-5">

        <div class="row mb-4">
            <div class="col-md-12">
                <h1 style="font-size: 28px;">Prueba Técnica </h1>
            </div>
        </div>

        <div class="row mb-5">


            <div class="col-md-10">

                <div class="table-responsive">

                    <div class="formulario" align="left">
                        <h4>Conversión de número de fila a letrras (Se tiene en cuenta la Ñ) </h4>

                        </BR>
                        <form action="./" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="Convertir!" class="btn btn-success">
                        </form>
                        </BR>
                        </BR>

                        <label for="municipios" class="txt_negrita">La letra es: {{letra}} </label>

                        </BR>
                        </BR>

                        <!-- Botón para volver a la vista principal (Home) -->
                        <a href="../" type="submit" class="btn btn-primary">Volver</a>

                    </div>

                </div>

            </div>

        </div>
    </div>

</main>

</body>
</html>
